# NOTE
# /data/ ==> ignore ALL  data folders
# /data  ==> ignore ONLY data folder from the root of the project

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
/*/*_cache

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# OS files
.DS_Store

# quarto site
/.quarto/
**/*.quarto_ipynb
/docs
/_site
_freeze/
*_files/
/*/*_files/
/site_libs
*.html
*.tex
*.log
*.aux
*.toc
homeworks/src/hw3/data/processed/walk_index_mn.RData
homeworks/src/hw3/data/raw/WalkabilityIndex/Natl_WI.gdb/a00000007.CatRelTypesByForwardLabel.atx
homeworks/src/hw3/data/raw/WalkabilityIndex.zip
homeworks/src/hw3/data/raw/WalkabilityIndex/Natl_WI.gdb/a00000001.gdbtable
homeworks/src/hw3/data/raw/WalkabilityIndex/Natl_WI.gdb/a00000009.gdbtable
/homeworks/src/data/raw/objects/0
/homeworks/src/data/raw/objects/1
/homeworks/src/data/raw/objects
/homeworks/src/data/raw/objects 2
/homeworks/src/data/processed
/homeworks/src
